@font-face {
  font-family: "iconfont"; /* Project id 3860554 */
  src: url('iconfont.woff2?t=1673459533235') format('woff2'),
       url('iconfont.woff?t=1673459533235') format('woff'),
       url('iconfont.ttf?t=1673459533235') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-ziyuan529:before {
  content: "\e78d";
}

.icon-shenfenzhengming:before {
  content: "\e61e";
}

.icon-cz-qbdj:before {
  content: "\e804";
}

.icon-jibenziliao:before {
  content: "\e61f";
}

.icon-fenxiang:before {
  content: "\e607";
}

.icon-a-bianzu13-14:before {
  content: "\e614";
}

.icon-a-bianzu13-22:before {
  content: "\e615";
}

.icon-a-bianzu13-27:before {
  content: "\e616";
}

.icon-a-bianzu13-36:before {
  content: "\e617";
}

.icon-a-bianzu13-38:before {
  content: "\e618";
}

.icon-a-bianzu13-39:before {
  content: "\e619";
}

.icon-a-bianzu13-48:before {
  content: "\e61a";
}

.icon-a-bianzu13-49:before {
  content: "\e61b";
}

.icon-a-bianzu13-55:before {
  content: "\e61c";
}

.icon-a-bianzu13-32:before {
  content: "\e61d";
}

